<table class="bordered">

  <thead>
    <tr>
      <th><%= capital.title %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Revenue Range</td>
      <td><%= capital.revenue %></td>
   </tr>
 </tbody>
</table>
