<div class="card-title">My Email</div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email, required: true, autofocus: true %>
    <%# render partial: 'email_confirmation_fields', locals: {f: f} -%>
    <%# render partial: 'password_fields', locals: {f: f} -%>
    <%= f.button :submit, "Update" %>
    <% end %>
