<div class="card">
  <div class="card-content">
    <div class="card-title">Create a New CIM</div>
      <%= render 'form', cim: @cim %>
      <%= link_to 'List all CIMs', private_cims_path %>
    </div>
   </div>
</div>
