<h4>Add your note</h4>
  <p> Add a note to this deal room. All invited participants will be able to see your notes.</p>
   <%= simple_form_for([:private, notable, Note.new]) do |f| %>
     <%= f.error_notification %>
     <%= f.input :body -%>
    <%= f.button :submit %>
 <% end %>
