<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l8 offset-l2">
      <% @deal_room = @notable %>
      <%= render partial: '/private/deal_rooms/about' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l8 offset-l2">
      <div class="card">
        <div class="card-content">
           <%= render partial: "/private/notes/index", locals: {notes: @notes, notable: @notable }%>
        </div>
      </div>
    </div>
  </div>
</div>
