<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Stage</th>
      <th>Revenue</th>
      <th>Ebitda</th>
      <th>Industry</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @buysides.each do |buyside| %>
        <%= render partial: '/buysides/buyside_row', locals: {buyside: buyside } %>
    <% end %>
  </tbody>
</table>
