// classes that are used accross multiple pages & modifications to Materialize
@import "variables";
@import "buttons";
@import "typography";
@import "nouislider";
@import "profile";
@import "businesses";
@import "home";
@import "designs";
@import "sell";

// --------- ENABLES STICKY FOOTER ---------
body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media only screen and (min-width: 601px){
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px){
  .container {
    width: 90%;
  }
}

main {
  flex: 1 0 auto;
  background: #edf0f3
}

body footer.page-footer{
  margin-top:0;
  .footer-copyright{
    background:#000
  }
}
.inline-block{
  display: inline-block
}


// --------- WHITE SPACE AROUND PAGE CONTENT ---------
.margin-top-bottom {
  margin-top: 2%;
  margin-bottom: 7%;
}


// -------- Navigation ---------
.brand-logo img{
  width: 4.3em;
  margin-top: .45em;
}

nav{
	background: #e1e6ea;
  box-shadow: none;
  i.material-icons{
    font-size: 1.6rem;
    color: #cbcbcb;
  }
  .dropdown-content li > a{
    color: #7c8e9b
  }
  &.secondary{
    background: white!important
  }
}


.dropdown-content li > span{
  font-size: 14px;
  color: #222;
}

nav ul{
  font-size:.9em;
  a {
    color: #626262;
    font-size: 1em;
    font-weight: 500;
    &:hover{
      background-color: rgb(237, 240, 243);
      color: #515e67;
    }
  }
}

.userView{
  background: #262261
}


// ---
.notice{
  z-index: 99;
  padding: 8px;
  font-size: 12px;
  margin: 0 auto;
  width: 14em;
  color: #9ca0b4;
  position: absolute;
  right: 0;
}

.card{
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  .card-content{
    padding: 15px
  }
}

// Forms
.select{
  margin-top: 1rem;
  margin-right: 0.35em;
}

//override checkbox placement a tiny bit
body [type="checkbox"]:checked + label:before{
  top: -2px;
  left: -3px;
  width: 11px;
  height: 18px;
}

mm{ display:block;margin:0;padding:0;border:0;position:relative; 
  .input-field{
    margin: 0.95em 0 0 1em;
    padding-right: 3em;
  }
  &:before{ 
    content: "$";
    position: absolute;
    margin-top: 11px; 
  }
  &:after{     
    content: "MM";
    position: absolute;
    margin-top: -47px;
    right: 10px; 
  }
  dash{
    position: absolute;
    right: -12px;
    top: 11px;
  }
}

.money{
  font-size: 1rem;
  font-weight: 600;
}
span.mm{
  font-size: .75rem;
  font-weight: 400;
}

.cells {
  .card-content{ padding: 0 }
  .card-title{ padding: 15px 15px 0 20px }
  ul.collection {
    border: none;
  }
}

.no-margin{
  margin-bottom: 0
}

.columns{
  -webkit-columns: 180px 2;
   -moz-columns: 180px 2;
        columns: 180px 2;
}