// classes that are used accross multiple pages & modifications to Materialize
@import "variables";
@import "overrides";
@import "typography";
@import "profile";

// --------- ENABLES STICKY FOOTER ---------

main {
  flex: 1 0 auto;
  background-image: url('/assets/bridge.jpg');
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

body footer.page-footer{
  margin-top:0;
  background: #DDD;
  color: #A9A9A9;
  .footer-copyright{
    background: none;
    color:#A9A9A9
  }
}
.inline-block{
  display: inline-block
}

abbr[title] {
    border-bottom: none;
}

// --------- WHITE SPACE AROUND PAGE CONTENT ---------
.margin-top-bottom {
  margin-top: 2%;
  margin-bottom: 7%;
}

//Logged in use
.logged-in{
 background: #f9f9f9
}


// -------- Navigation ---------
.brand-logo img{
  width: 4.95em;
  margin-top: 0.85em;
  margin-left: 0.45em
}

nav{
	background: transparent;
  box-shadow: none;
  i.material-icons{
    font-size: 1.6rem;
    color: #cbcbcb;
  }
  .dropdown-content li > a{
    color: #7c8e9b
  }
  &.secondary{
    background: white!important
  }
}

nav ul{
  font-size:.9em;
  a {
    color: #333;
    font-size: 1em;
    font-weight: 400;
    &:hover{
      background-color: transparent;
      color: #111;
    }
  }
  li.sign-in{
    a{ color: #FFF }
  }
}

.userView{
  background: #262261
}

.get-started-btn {
  margin-top: 4%;
  margin-bottom: 4%;
}

.card{
  box-shadow: none;
  border: 1px solid #efefef;
  .card-content{
    padding: 12px
  }
}

.col.l2.s12 {
    padding-right: 0;
    margin-right: -0.847em;
}


// Forms 
.select{
  margin-top: 1rem;
  margin-right: 0.35rem;
}

body textarea{
  width: 100%;
  height: 3rem;
  background-color: transparent;
  border: 1px solid #eaeaea;
  margin-top: 0;
  border-radius: 2px;
  padding: 5px 8px;
}
body .input-field.col label.text {
    left: 1.1rem;
    top: 1rem
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  border: 1px solid #eaeaea;
  border-radius: 2px;
  padding: 0 0 0 9px;
  font-size: 0.85rem;
  height: 2.3rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}
.admin-view input[type=text] { 
  padding: 0!important; 
  position: absolute; 
  background: white;
  width: auto 
}

.input-field {
  margin-top: 1.5rem;
  label{
    left: 0.7rem;
    font-size: 0.8rem;
    top: 0.6rem;
    &.active {
      transform: translateY(-180%);
      left: 0;
    }
    &[for=event_photo] {
      left: 0;
    }
  }
  .select-wrapper + label{ left: 0; top: -0.95rem }
}

//override checkbox placement a tiny bit
body [type="checkbox"]:checked + label:before{
  top: -2px;
  left: -3px;
  width: 11px;
  height: 18px;
}


.cells {
  .card-content{ padding: 0 }
  .card-title{ padding: 15px 15px 0 15px }
  ul.collection {
    border: none;
  }
}
.collection{ 
  background: white;
  .collection-item{
    padding: 10px 16px
  }
}

.no-margin{
  margin-bottom: 0
}

.row.short{
  margin-bottom:2px;
}

.card.listing {
    margin: 0 0 3px 0;
}

.columns{
  -webkit-columns: 180px 2;
   -moz-columns: 180px 2;
        columns: 180px 2;
}

