// --------- MATERIALIZE CUSTOMIZATIONS ---------

.btn {
  text-transform: none;
}

.collapsible-header {
  i.material-icons.small {
    margin-left:-12px;
    margin-right: 0rem;
    width: 0rem;
  }

  .small-collapible-header {
    font-size: 12px;
    line-height: .5em;
    padding: 5%;
  }
}

.collection_radio_buttons {
  margin-left: 10px;
  padding-left: 25px !important;
}

// collection select - shrink to make same height as input text field
.select-wrapper input.select-dropdown {
  height: 2.5rem;
}

.get-started-btn {
  margin-top: 4%;
  margin-bottom: 4%;
}

// --------- SOCIAL MEDIA ICONS ---------
.icon-invert {
  -webkit-filter: invert(100%);
  max-height: 30px;
}

.icon-btn {
  max-height: 20px;
  float: left;
  margin-top: 14px;
}

// --------- FLOATING CHAT BUTTON ---------
#floating-chat-btn {
  bottom: 25%;
  right: 20%;
}

// --------- CARD ACTIONS ---------
.card {
  .card-action {
    a {
      text-transform: none !important;
    }
  }
}

// CHAT BUTTONS
a.end-conversation {
  margin-right: 0px !important;
}


// Social Signin
.login-box { 
    color: white;
    text-align: center;
    max-width: 31em;
    margin: 0 auto;
    padding:2em 0 1.2em;
  .social-buttons{
    padding: 0 0 2em;
    /*a:nth-child(1){ background: url('facebook-icon.png') no-repeat #3356a0 }*/
    a:nth-child(1){ background: url('google-icon.png') no-repeat #dd4b39 }
    a:nth-child(2){ background: url('linked-in-icon.png') no-repeat #2e82c5 }
    > a{
      width:21em;
      display: block;
      margin:0 auto 1em;
      line-height: 57px;
      background-size: 36px!important;
      color: white;
      background-position: 14px 3px!important;
      text-align: center
    }
  }
}