.range-container{
    margin-left: .8em;
    margin-right: 4em;
}
.lanyard-container{
	background: url('origami-bg.png');
	.lanyard {
		display: inline-block;
	    height: 47px;
	    font-size: 1em;
	    font-weight: 500;
	    color: #000;
	    line-height: 32px;
	    padding: 0 12px;
	    border-radius: 16px;
	    font-weight: 600;
    	img{
		float: left;
		margin: 0 8px 0 -12px;
		height: 3em;
		width: 3em;
		border-radius: 50%;
		}
		p{
		margin: -1em 0 0;
		font-weight:400;
		font-size:.75em
		}
	}
}
.chip{
	background: rgba(140, 160, 180, 0.27);
	margin: 0 0 .3em 0;
	color: rgb(187, 198, 205);
	&.add{ display: block; width: 7em; font-size: .8em; color: #85a0b4; .material-icons{ float: left; padding: 0 8px 0 0} }
}
.text-link{
	color: #8ca0b4;
    display: block;
    margin: 5px 0 0 2px;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: 600;
}