// A list of variables that are already available for this project can be found within the Materialize source code located at:
// https://github.com/Dogfalo/materialize/blob/master/sass/components/_variables.scss

// A list of colors that are already available for this project can be found within the Materialize source code located at:
// https://github.com/Dogfalo/materialize/blob/master/sass/components/_color.scss

// --------- LIGHTEN DEFAULT COLORS  ---------
.green {
  background-color: color("green", "lighten-2") !important;
}

.red {
  background-color: #FA1405 !important
}

.gold{
  color: #ffd204;
}

.violet{
	background-color: #262261; 
}

.large{
	font-size:12em
}

$light-gray: #E3E3E3!important;
$dark-gray: #262261;
$blue: #0078b4;
$navy: #262261;
$green-bg: linear-gradient(-180deg, #34d058 0%, #28a745 90%); 