<div class="card">
  <div class="card-content lanyard-container">
	<div class="lanyard truncate">
	  <%= image_tag("baldwin.jpg", :alt => "Valtari") %>
	  <%= current_user.name %>
	  <p>Admin</p>
	</div>
  </div>
</div>
<div class="card">
  <div class="card-content lanyard-container">
  	<%= link_to 'My Campaigns', my_campaigns_path, class:'medium-text' %>
  </div>
</div>