<div class="card">
  <div class="card-content lanyard-container">
	<div class="lanyard truncate">
	  <%= image_tag("baldwin.jpg", :alt => "Valtari") %>
	  <%= current_user.name %>
	  <p>Admin</p>
	</div>
  </div>
</div>
<div class="collection">
  <%= link_to 'My Campaigns', my_campaigns_path, class:'collection-item' %>
  <%= link_to 'Companies Database', admin_businesses_path, class:'collection-item' %>
</div>


