<div class="card">
  <div class="card-content lanyard-container">
	<div class="lanyard">
	  <%= image_tag("baldwin.jpg", :alt => "Valtari") %>
	  <%= current_user.name %>
	  <p>Admin</p>
	</div>
  </div>
</div>
