<div class="card blue-grey darken-2">
  <div class="card-content corner white-text">
    <div class="card-title">Golden Gate Capital</div>
    <div class="chip"> <%= image_tag("bob.png", :alt => "Your associate") %> Bob Slydell </div>
    <div class="chip"> <%= image_tag("bob2.png", :alt => "Your associate") %> Bob Porter </div>
    <div class="chip add"> <i class="close tiny material-icons">library_add</i> Invite </div> </div>
    <div class="card-action"> <a href="#">Private Equity</a> </div>
  </div>
</div>
