<p id="best_in_place"><span class="notice"><%= notice %></span></p>
<div class="container">
    <div class="margin-top-bottom">
		<div class="row">

		  <div class="col s12">
		    <div class="card">
		      <div class="card-content">
		        <div class="right"><a class="waves-effect blue darken-1 btn-large right-align">Start a Campaign</a></div>
		        <span class="card-title">Campaigns</span>
		        <p>Start a campaign to put the word out about the kind of acquistions you wish to make</p>
		      </div>
		    </div>
		  </div>
		  
		  <div class="col s6">
		    <div class="card">
		      <div class="card-content">
		        <span class="card-title">Details</span>
		        <p></p>
		      </div>
		    </div>
		  </div>

		</div>
    </div>
</div>