<div class="section">
  <div class="">
    <div class="row">
      <div class="col s12 m9">
        <h4 class="light center-on-small-only">Discover and manage acquisitions.</h4>
        <!--<h4><%= link_to 'My Profile', profile_path %></h4>-->
      </div>
      <div class="col s12 m3">
      
      </div>
    </div>
  </div>
</div>