<div class="card">
  <div class="card-content">
    <div class="card-title">
	  Knowledge Base
    </div>

  <div class="row">
    <div class="col s12 l7"> 
      <div class="card">
      <div class="card-image">
        <img src="https://media.voog.com/0000/0040/1462/photos/photo-1470173274384-c4e8e2f9ea4c_block.jpeg">
        <span class="card-title">Guide to <br> Legal Representation in Middle Market M&A</span>
      </div>
      <div class="card-content">
  	The purpose of this guide is to save you time, money and aggravation. Mergers,
acquisitions, finance and similar transactions are not “business as usual,”
they are “extraordinary transactions.” 
      </div>
   </div>



<p><figcaption>O</figcaption></p>btaining experienced legal
representation appropriate to the transaction can make the difference between a
smashing success and an abject failure. Herein,
you will find a summary of the role of a lawyer, some basic tips on selecting
the right lawyer, and a summary description of the services that a lawyer
typically performs in representing a client who is a party to an extraordinary
transaction.

</p>
<p>

<br>Lawyers, first and foremost, represent
their clients’ interests. In most transactions involving the sale or finance of
a company, there are at least two parties who have their own legal
representation. Although all lawyers practicing in the United States are
licensed by at least one state, there is a broad array of different types of
law. In the context of mergers and acquisitions, a party may require
representation familiar with the legal aspects of taxes, securities,
bankruptcy, corporate formalities and shareholder rights, antitrust, real
estate, employee rights and benefits, environmental regulations, intellectual
property, commercial contracts and any number of other specific areas. Each
lawyer will conduct diligence with respect to the company in question and will
then advise their client of any risks attendant to the transaction or to their
client’s business following the transaction. Each party’s lawyer will assist
their client to negotiate and arrive at the most favorable structure and terms
for the transaction and to document those terms. The lawyers also manage the
process of obtaining third-party consents and government approvals, making
required governmental filings, arranging for third-party services (like escrow
agents and title insurance) and organizing and executing the closing of the
transactions so that all of the documentation is properly executed and
delivered to each party. Depending on the transaction, a party’s lawyer may
also provide a legal opinion as to certain aspects of the transaction.<br><br><span style="font-size: 20px;">What
You Need to Know<br></span><br>The selection of legal representation with
the appropriate specialization is critical to achieving your objectives. When
selecting legal representation for the purchase or sale of a company or
significant business unit, you should consider the following factors:<br><br><b>1.</b>&emsp;&emsp;Seek
extraordinary counsel for your extraordinary transaction. You may have a
wonderful relationship with a lawyer who has served you as outside counsel and
trusted advisor for as long as you can remember. Even so, before signing them
on to represent you in an extraordinary transaction, be certain that they have
the required expertise and resources.<br>







<br><b>(a)&emsp;</b>More
often than not, the lawyer who has provided excellent counsel for all manner of
general business issues, contract negotiation, litigation management, etc., has
little or no experience with anything but the smallest of merger/acquisition
transactions. No doubt, the institutional knowledge possessed by that trusted
advisor will be very useful and there is a role for them in the transaction
process. That should not, however, be in structuring and negotiation of the
transaction.<br><br><b>(b)</b> Similarly,
you will need legal representation with resources (man power) appropriate to
the transaction. For most middle market transactions, the legal team should be
no less than an experienced partner and a reasonably senior associate, together
with an experienced paralegal, each experienced in corporate and commercial
transactions, and the constellation of legal subject matter experts (tax,
environmental, real estate, etc).<br><br><b>2.&emsp;</b>Your company may not be
ready. If you are selling a company, you will need to present every aspect of
the company for all would-be buyers to evaluate. There are many technical legal
matters that may or may not have made a difference to the company’s operations
that you must now address. Failure to address these items (or at least to
recognize them) ahead of time can cost you time and money and potentially
result in litigation. Even as a buyer, you need an understanding of how your
existing organization’s structure functions and how you want to fit in the new
acquisition. Moreover, if you are planning on issuing securities to the sellers
as consideration, unless you are a public company, you should expect that the
sellers would want to take a close look at your company before they will close
a transaction. The right legal representation will guide you through the right
moves to make before you go looking for your transaction partner.<br><br><b>3.</b>&emsp;Things
that matter and things that don’t. Just like any other service-based
professionals, lawyers will pitch their own combination of expertise, price and
brand name prestige in an attempt to earn your engagement. When selecting an
attorney to represent you in the purchase or sale of a company, keep in mind
the following:<br>





<br><b>(a)</b> Bigger
may or may not mean better. There are plenty of giant, international law firms
that will be happy to charge you top dollar to guide you through a transaction.
These firms have very specific expertise and lots of man-power at their
disposal. If you are doing a transaction with over a billion dollars of
enterprise value, your transaction involves purchase of operations in ten
different countries, you transaction will undergo scrutiny under a somewhat
esoteric set of regulatory guidelines (insurance, banking, mining, etc.), or
your transaction requires a particularly complicated structure, then paying the
big firm bill might be a good idea. For most middle market transactions,
however, representation by smaller to mid-size firms will be far less expensive
and may be of a higher quality as well.<br><br><b>(b)</b> The
sector in which a company does business usually has little to no impact on the
legal requirements of the transaction. Experienced merger and acquisition
counsel can adapt to the basic legal requirements of most sectors and
industries. Exceptions are industries with highly specific and complex
regulatory compliance issues, and companies with products and services so
technical as to require legal representation with a science background to
understand the nuances of the company’s product (and even that is not usually a
problem for reasonably experienced attorneys with access to subject matter
experts).<br>





<br>




<b>4.</b>&emsp;Your
lawyer is probably not your investment banker. Although some lawyers may use
their connections to help you find a transaction partner, most do not have
their pulse on the current market conditions and pricing. Moreover, lawyers are
almost never set up to conduct an auction process or a green field search for
the right acquisition target. Middle market companies will almost always find
an investment banker to be a value added part of their team.
<br><br>







<b>5.</b>&emsp;Don’t
hire the “C” team if they pitched you the “A” team. This is a particular
problem for the middle market business. Most of the larger law firms are built
with a pyramid structure involving few partners at the top and lots of junior
associates at the bottom. The bigger the firm, the bigger the fees generated by
the transaction need to be in order to keep the attention of that top partner
that you spoke to in the pitch meeting. Although the junior to mid-level
associate who may lead your deal is very “smart,” there is no substitute for
experience. Your transaction may not go as smoothly as you hoped, and your fees
may ultimately be significantly higher.<br><br><div class="edy-texteditor-container image-container edy-positionable-container-maxwidth" contenteditable="false" unselectable="on" style="max-width: 100%; text-align: left; display: block; float: none; overflow: hidden; position: relative; width: auto;" data-image-id="7485243">
  <div class="edy-padding-resizer-wrapper" style="padding-bottom: 55.15%; position: relative; overflow: hidden;">
      <picture title="" style="position: absolute; display: block; max-width: none; width: 100%; height: auto; left: 0%; top: 0%;">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source sizes="100vw" srcset="//media.voog.com/0000/0040/1462/photos/photo-1444738720667-27446e3f293d.jpeg 5312w, //media.voog.com/0000/0040/1462/photos/photo-1444738720667-27446e3f293d_huge.jpeg 2048w, //media.voog.com/0000/0040/1462/photos/photo-1444738720667-27446e3f293d_large.jpeg 1280w, //media.voog.com/0000/0040/1462/photos/photo-1444738720667-27446e3f293d_block.jpeg 600w">
        <!--[if IE 9]></video><![endif]-->
        <img src="//media.voog.com/0000/0040/1462/photos/photo-1444738720667-27446e3f293d_block.jpeg" title="" alt="" style="position: absolute; max-width: none; width: 100%; height: auto;">
      </picture>
    </div>
</div><br>Process,
Responsibilities, Deliverables<br>






<br>The legal services required for most
transactions run a varied path from initial structure through post-closing
matters. Typically, your counsel will perform the following services; in more
or less the following order:<br><br><b>1.</b>&emsp;Preparation
for a transaction. For a sell side transaction, or a buy side transaction in
which securities will be included in the purchase consideration, a little
attention at the start of the process can prevent big (and costly) problems
later. The target/issuer should be clean for diligence and optimized for tax
purposes. Counsel should verify that the company has taken reasonable actions
to minimize potential issues relating to (i) the company’s governing documents
and records; (ii) litigation; (iii) assignment of material contracts; (iv)
labor and employment issues that may arise in the context of a transaction; (v)
ownership of intellectual property; (vi) real property, including environmental
matters; and (vi) any other matters material to the company’s operations,
assets and liabilities.<br>





<br>







<b>2.</b>&emsp;The Letter of Intent
(Memorandum of Understanding).







A
letter of intent (“LOI”), also called a memorandum of understanding, is usually
(unless it is solely to start discussion) an agreement between the parties. An LOI
usually does not bind the parties other than with respect to certain specified
terms. Terms common to most LOIs in the merger and acquisition context include:
<br><br><b>(a)</b> Structure
of the transaction: which may involve a merger (purchase of all of the target
company’s outstanding equity), an acquisition (purchase of some or all of the
target’s assets/liabilities) or one of several combinations of the two.
Creating a transaction structure also includes the choice of the most
appropriate forms of organization (e.g. corporation, limited liability company,
partnership, etc.). Transaction structure can be very complex and will depend
in part on (i) desired tax effect; (ii) level of difficulty in transferring
material contracts, and governmental authorizations; (iii) requirement and
amount of difficulty of obtaining shareholder consents; (iv) buyer’s strategy
for integrating the target into its organizational structure; and (v) many
other factors that may be unique to the transaction in question.<br>

<br><b>(b)</b> Consideration
for the transaction: which is the compensation that the buyer provides to the
seller, may include: (i) cash; (ii) equity of the buyer (including preferred
equity, warrants and debt convertible to equity); (iii) license(s) to use
intellectual property; and (iv) debt, which may be secured.<br><br><b>(c)</b> Procedure
and timing of payment: which may include: (i) an earn out; (ii) payment in
installments, which may be conditional; (iii) and a hold back in escrow to
satisfy the seller’s post transaction indemnity obligations.<br><br><b>(d)</b> Diligence
procedures according to which one or both of the parties may conduct diligence
to ascertain if they actually want to complete the transaction described in the
LOI.<br><br><b>(e)</b> Contingencies to
closing the transaction, which may include: (i) buyer’s ability to obtain financing;
(ii) either or both parties’ ability to obtain required authorization from
shareholders and/or a board of directors; (iii) obtaining necessary government
approvals; (iv) completion and satisfaction with due diligence investigations;
(v) agreement by seller’s key personnel to not compete with, and/or continue
working with the buyer for some time period following the closing of the
transaction; (vi) completion of other transactions (which may be with third
parties); (v) other terms a party desires to include to avoid surprising the
other party during the agreement negotiation process; and (vi) other standard
contingencies to be “negotiated in good faith by the parties.”<br><br><b>(f)</b> Expected
representations and warranties of the parties often left to be “negotiated in
good faith by the parties.”



<br><br>





<b>(g)</b> Terms
of indemnification, which may include: (i) the specifics of which parties must
indemnify which other parties (ii) the conditions required to trigger
indemnification obligations; (iii) whether an indemnifying party may control
the defense from a third-party claim; (iv) the amount of any hold-back of
consideration; (v) the conditions required to trigger payment of the held-back
consideration to a party (often a time schedule for payment to seller) and (vi)
the amounts of any threshold or cap to the amount of funds subject to
indemnification.<br><br><b>(h)</b> A “no
shop” provision that specifies a time period during which the seller may only
negotiate with the buyer for the sale of the target company or assets.<br><br><b>(i)</b> A
confidentiality provision, which may be unilateral or mutual, that obligates
the parties to prevent the disclosure or improper use of each other’s
“Confidential Information.”<br><br>Often the terms of an LOI are non-binding
(exceptions being the “no shop” and confidentiality provisions). IT IS A GIANT
MISTAKE, however, to delay engaging competent legal counsel until after
execution of the LOI. The LOI is the blueprint for the transaction. Once
signed, a party rightfully expects that the terms of the transaction will
reflect the terms of the LOI. Counsel engaged after execution of the LOI may
find that the terms of the LOI will: (i) increase transaction costs; (ii)
create unexpected losses; (iii) result in missed opportunities; or that the
terms in the LOI would result in an illegal or commercially impossible result.
In these situations, counsel (and their client) will have to now push for
renegotiation of established major terms. That renegotiation will invariably
cost more time and money and may seriously reduce negotiation leverage. It also
may kill the deal.<br>







<br><b>3.</b>&emsp;Diligence.
Upon execution of the LOI, counsel for the Buyer will send counsel for the
Seller a diligence request letter. These letters can be very long and are often
overly broad. Each of Buyer’s and Seller’s counsel will review all of the
available material information about the target’s assets, liabilities,
historical operations and near-term prospects. Buyer will use the information
from the review to determine whether to pursue, renegotiate or abandon the
transaction. Each counsel will rely on the information to negotiate the final
terms of the transaction; and will also advise their client of any possible
unintended consequences that may result from the transaction. Complete disclosure
of all material information is the surest way to avoid post-transaction
litigation between the parties.<br>





<br>






<b>4.</b>&emsp;The
Purchase Agreement. A completed purchase agreement will include: (i) a
description of the target’s equity or assets being purchased and the purchase
consideration; (ii) mechanics for the exchange of consideration; (iii)
representations, warranties and covenants; (iv) obligations of the parties’
during the period between agreement execution and closing; (v) documents or
conditions&nbsp;required prior to the closing; (v) post
closing obligations of the parties; and (vi) tax elections, dispute resolution,
and standard “boiler plate” items.<br><br>















<b>5.</b>&emsp;
Drafting
and negotiation. Using the LOI, the parties’ respective counsels negotiate and
draft the purchase agreement and other required documents. As part of the
process, counsels address material matters discovered through the diligence
process. Counsel will review the key documents with their client to obtain information
and discuss the legal effect of the language in the documents. Counsel will
also provide guidance as to sticking points in the negotiation, including
matters discovered through the diligence process, and provide potential
solutions.<br><br><b>6.</b>&emsp;
Execution
and closing. Upon conclusion of the drafting process, the parties execute and
become bound by the purchase agreement. Counsel now works with their client to
satisfy any conditions precedent to the closing. Depending on the transaction,
the parties may each need to: (i) take required organizational actions
including obtaining approval from their equity holders and governing bodies;
and (ii) obtain third-party and governmental consents and approvals; (iii)
negotiate the terms of any ancillary agreements (e.g. shareholder agreements,
employment/consulting agreements, license agreements, etc.); and (iv) draft and
review any number of ancillary closing documents (officer certificates, legal
opinions, government filings, etc.). Additionally, if required, Buyer’s counsel
will also negotiate and draft documents required accomplishing Buyer’s finance
of the purchase consideration. When all parties (buyer, seller, financiers and
other third-parties) have approved the form of all of the documents applicable
to them and all other conditions to the closing are completed or waived, the
parties’ counsels run the closing, overseeing the complete execution and
delivery of documents in the correct sequence, the exchange of the
company/assets for the purchase consideration.<br><br><b>7.</b>&emsp;
Post
closing matters. Following closing, one of the parties’ counsels will organize,
bind and distribute full sets of executed closing documents. Counsel will also
make any required government filings and assist in the drafting of any press
release. After the immediate post closing matters are complete, counsel will
continue to advise their client with respect to long term matters (e.g. release
of held-back purchase consideration, calculation and payment of earn-outs,
etc.) and application of the deal documents to real world circumstances
(litigation avoidance).<br>









<blockquote><br>As a final note, nothing (outside of
litigation) is worse than spending hundreds of thousands of dollars on a deal
that should never have been attempted. Sometimes, the biggest value add from
the timely engagement of the right lawyer is identification of deal killing
issues before a client becomes committed to an ill fated transaction. A good
lawyer will be very clear about whether an issue will not be able to be
resolved. Your lawyer should be a problem solver, but not a “yes man.” With the
right team, a lawyer can keep the transaction process moving through the
various stages described above. Don’t forget to invite them to the closing
dinner.&nbsp;<br><br></blockquote>





Authored by Josh Lawler, Partner<br><i><a href="mailto:jlawler@zuberlaw.com" target="_blank">jlawler@zuberlaw.com</a></i><br>

 </div>
   
    </div>
  </div>
</div>