<div class="container">
  <div class="margin-top-bottom">
    <div class="row">
      <div class="col s12 m4 l3">
      <%= render partial: 'my_info' %>
      <%= render partial: 'my_contacts' %>
      <%= render partial: 'my_companies' %>
      <%= render partial: 'my_campaigns' %>
	</div>
  </div>
</div>

