<p id="best_in_place"><span class="notice"><%= notice %></span></p>
<div class="container">
  <div class="margin-top-bottom">
    <div class="row">
      <div class="col s12 l2">
        <div class="side-bar">
          <%= link_to 'All Campaigns', campaigns_path, class: "" %>
        </div>
      </div>
      <div class="col s12 l10">
	    <div class="card listing lighten-5">
	      <div class="card-content ">
	        <div class="card-title">
	          <div class="row short">
		        <div class="col m6">
		              	Nabisco Corp.
		        </div>
		        <div class="col m3">
				   <span class="column-entry">$500k&mdash;1m</span>
		        </div>
		        <div class="col m3">
		           <span class="column-entry" href="#">Real Estate</span>
		        </div>
		       </div>
	         </div>
	              <p class="description">Nabisco is an American manufacturer of cookies and snacks headquartered in East Hanover, New Jersey. The company is a subsidiary of Illinois-based Mondelēz International.</p>
	      </div>
	        <div class="card-action">
	            <a href="#">Watch</a>
	        </div>
	    </div>
       </div>
    </div>
  </div>
</div>
