
 <h5 class="fixed-whiteout thin center white-text">Welcome to Valtari Exchange   <!--<%= link_to 'Get started', home_path -%>-->
        </h5>
   
<iframe frameBorder="0" src="https://scott-stepanik-nlgs.squarespace.com/" style="z-index: 9;position: fixed; left: 0; top: 0; right: 0; width: 100%; height: 100%;"></iframe>