  <div class="container full">
    <div class="row">
      <div class="margin-top-bottom">
        <h5 class="thin center-on-small-only white-text">Welcome    <%= link_to 'Get started', home_path -%>
        </h5>
      </div>
    </div>
  </div>
