<div class="row">
  <div class="col s10 m10">
  <h1>Events</h1>
    <%= month_calendar events: @events, attribute: :start_date, end_attribute: :end_date do |date, events| %>
    <%= date %>
    <% events.each do |event| %>
      <div>
        <%= link_to event.title,  my_event_path(event)  %>
       </div>
       <% end %>
    <% end %>
    <p> <%= link_to 'New Event', new_my_event_path %> </p>
  </div>
</div>
