<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <div class="row">
			<%= render partial: '/private/deal_rooms/about' %>
          </div>
		</div>
	  </div>
	</div>
  </div>
</div>

<div class="row">
  <div class="margin-top-bottom">
  	<div class="col s12 l4 offset-l2">
      <div class="card">
        <div class="card-content">
		  <%= render partial: '/private/deal_room_invitations/form' -%>
        </div>
	  </div>
	</div>
    <div class="col s12 l4">
      <div class="card">
        <div class="card-content">
			<%= render partial: '/private/deal_rooms/owners/groups' %>
		</div>
	  </div>
	</div>
  </div>
</div>

<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l8 offset-l2">
      <div class="card">
        <div class="card-content">
			<%= render partial: '/private/deal_room_invitations/index', locals: { invitations: @deal_room.deal_room_invitations } -%>
        </div>
	  </div>
	</div>
  </div>
</div>
