<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <h4>My Virtual Data Rooms</h4>

            <% @deal_rooms.each do |deal_room| %>
            <div class="row one-px">
            <%= link_to deal_room.name, private_deal_room_path(deal_room), class: 'btn reference col s10 waves-effect waves-light pale-blue' %>

            <%= link_to edit_private_deal_room_path(deal_room), class: 'col s1 btn edit waves-effect waves-light steel-blue' do %>
              <span class="ion-ios-compose-outline"></span>
            <% end %>
            
            <%= link_to private_deal_room_path(deal_room), class: 'col s1 btn delete light-red waves-effect waves-light', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="ion-ios-trash-outline"></span>
            <% end %>
             </div>
            <% end %>
                  
        <br> <br>

        <%= link_to 'New Private Data Room', new_private_deal_room_path %>

        </div>
      </div>
    </div>
  </div>
</div>