<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l4 offset-l4">
      <div class="card">
        <div class="card-content">
        <h4>New Private Virtual Room</h4>
        <%= link_to 'Back', private_deal_rooms_path, class: 'right-corner inline-block' %>

		<%= render 'form', private_deal_room: @private_deal_room %>

		
        </div>
      </div>
    </div>
  </div>
</div>