<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Revenue</th>
      <th>Industries</th>
    </tr>
  </thead>
  <tbody>
    <% @capitals.each do |capital| %>
        <%= render partial: '/my/capitals/capital_row', locals: {capital: capital } %>
    <% end %>
  </tbody>
</table>
