<table class="bordered">
  <thead>
    <tr>
      <th><%= capital.title %></th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td>Revenue </td>
      <td><%= capital.revenue%></td>
    </tr>
    <tr>

</tbody>

</table>
