<div class="card">
  <div class="card-content">
    <div class="sub">
	   <%= link_to "My Capital Raising", my_capitals_path, class: 'sub-item active' %>
	   <%= link_to "All", capitals_path, class: 'sub-item' %>
	   <%= link_to new_my_capital_path, class: "waves-effect btn right float-margin" do %>
	   Raise Capital
	   <% end %>
	</div>
	<div class="card-title">
	  My Capital Raising  (#{current_user.capitals.count})
	</div>
	  <%= render partial: '/my/capitals/capitals' %>
  </div>
</div>

