<div class="container">
  <div class="row">
    <div class="margin-top-bottom">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="card-title">New Capital Raising</div>
            <%= render 'form', capital: @capital %>
            <%= render partial: "links", locals: { capital: @capital } -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
