<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Stage</th>
      <th>Revenue lower</th>
      <th>Revenue upper</th>
      <th>Ebitda lower</th>
      <th>Ebitda upper</th>
      <th>Industry</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
        <%= render partial: '/my/campaigns/campaign_row', locals: {campaign: campaign } %>
    <% end %>
  </tbody>
</table>
