<div class="card">
  <div class="card-content">
   <div class="card-title">Listings (Companies for sale, companies seeking capital)</div>
    <%= render partial: '/opportunities/opportunities' %>
  </div>
</div>
 