<div class="card">
  <div class="card-content">
   <div class="card-title">Sell-side listings</div>
    <% if @opportunities.any? %>
    <%= render partial: '/opportunities/opportunities' %>
    <% else %>
       <p>There are no sell-side listings in the system.</p>
       <%= link_to 'Add a sell-side listing', new_my_opportunity_path -%>
    <% end %>
  </div>
</div>

