<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Stage</th>
      <th>Revenue</th>
      <th>Ebitda</th>
      <th>Industry</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
        <%= render partial: '/campaigns/campaign_row', locals: {campaign: campaign } %>
    <% end %>
  </tbody>
</table>
