<nav class="secondary hide-on-med-and-down">
  <div class="nav-wrapper container">
    <div class="col s12">
      <ul class="left hide-on-med-and-down">
        <li><a href="sass.html">My Campaigns</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="margin-top-bottom">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="card-title">Campaigns </div>
            <%= render partial: '/campaigns/campaigns' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
