@import "materialize/components/color";
$primary-color: color("blue", "darken-1") !default;
$secondary-color: color("blue", "darken-1") !default;
$success-color: color("blue", "darken-1") !default;
@import 'materialize';
@import 'base/base';
