.corner:before{
	border-right: 50px solid #edf0f3;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    content: "";
    height: 0;
    right: -1px;
    position: absolute;
    top: 0;
    width: 0;
}
.right-corner{
  margin: -1.85em 0 1em;
  display: block;
  text-align:right
}

.input-field.required input {
}