.card-title{
	a {
    color: #111
	}
}
.see-list, .see-grid{
	cursor: pointer;
	opacity: .3;
	&.selected{
		opacity: 1
	}
}
.card .card-action{
	padding: 8px 20px 12px;
	z-index: 2;
	font-size: .9rem;
	a {
    	color: #8ca0b4 !important;
	}
}

.float-margin{
    margin-top: -2.8em;

}