.section.plexus{
    background-size: 45em;
    background-repeat: no-repeat;
    background-color: #276aa6;
    background-size: 63%;
    padding: 5em 0 5em;
    color: #d0d8e8;
}

.side-bar {
  padding-top: .7em;
  padding-right: 10px;
  @media only screen and (max-width: 993px) {
    display: none
  }
  font-size: .9em;
  a { color: #888; font-weight: 400; }
  i { margin-right: 8px; font-size: .85em; &:before{ width:15px } }
  .nav-item{
    display: block;
    padding: 8px 7px 6px 14px;
    font-size: 1.12em;
    border:1px solid transparent;
    &.active {
      background: white;
      color: #000!important;    
      font-weight: 400;
      border: 1px solid #EFEFEF;
    }
    &:hover {
      color: #000;
    }
  }
  li {
    list-style: none;
    line-height: 14px;
    &.active{
      background: white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
  }
}

.messages-nav i{
  font-size: 1.25em;
  margin-right: -14px;
}

.mobile-nav {
  a.active { background: $blue; color:white }
}
.favorite-business{
  position: absolute;
  top:0;
  left:0;
  div{
    font-size: 18px;
    line-height: 15px;
    opacity: 0.05;
    width: 16px;
    height: 16px;
    border-top: 18px solid #2ba5e3;
    border-right: 16px solid transparent;
    opacity: 0.01;
    transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
    &.favorite{ opacity: 1}
    &.not.favorite{ opacity: 0.01}
    &:hover{ opacity: 0.18 }
  }
}
a.company-name{
  margin-left: 15px
}
.company-list tbody tr:hover{
   .favorite.not{ opacity: 0.1 }
}

.sub{
  height: 2.2em;
  margin-bottom: 10px;
  margin-top: -3px;
  border-bottom: 1px solid #f5f5f5;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1em;
  .sub-item {
    padding:0 8px 6px;
    color: #3c3c3c;
    display: inline-block;
    margin-right: 0.8em
  }
  .sub-item.active {
    border-bottom: 2px solid;
    font-weight: 600
  }
}

.recent{
  font-size:0.85em;
  margin-top:10px;
  opacity: .58;
  ul{ margin: 0 }
}


// ---
.notice{
  z-index: 99;
  padding: 8px;
  font-size: 12px;
  margin: 0 auto;
  width: 14em;
  color: #9ca0b4;
  position: absolute;
  right: 0;
}


// -- Misc type styles -----
.description{
  color: #444
}
.money{
  font-size: 1rem;
  font-weight: 600;
}
span.mm{
  font-size: .75rem;
  font-weight: 400;
}

.card-title{
  a {
      color: #111
  }
}
.sellers{
  .card-title{
    a{ color: #c0bdbd; font-weight: 200 }
  }
}
.see-list, .see-grid{
  cursor: pointer;
  opacity: .3;
  &.selected{
    opacity: 1
  }
}
.card .card-action{
  padding: 8px 20px 12px;
  z-index: 2;
  font-size: .9rem;
  a {
      color: #8ca0b4 !important;
  }
}

.float-margin{
    margin-top: -3px;
    height: 26px;
    line-height: 26px;
    padding: 0 16px;
    border-radius: 3px;
    margin-right: 15px;
    font-size: .9em;
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    line-height:60px
  }
}
.column-entry{
  color: #999;
  font-weight: 200
}


mm{ display:block;margin:0;padding:0;border:0;position:relative; 
  .input-field{
    margin: 0.95em 0 0 1em;
    padding-right: 3em;
  }
  &:before{ 
    content: "$";
    position: absolute;
    margin-top: 11px; 
  }
  &:after{     
    content: "MM";
    position: absolute;
    margin-top: -47px;
    right: 10px; 
  }
  dash{
    position: absolute;
    right: -12px;
    top: 11px;
  }
}

note-meta {
  margin-bottom: 1em;
}

.note {
  margin: 1em; 
  padding: 1em; 
}


.calendar-heading li{ display: inline; margin: 0 0 0 3px; color: black; }
.calendar tr td{ 
  color: #d6d6d6; 
  padding: 4px 3px 66px;
  &.current-month {
    color: #444;
  }
}

a.back-btn {
    border: 1px solid #efefef;
    background: #f9f9f9;
    display: inline-block;
    height: 22px;
    padding: 0px 6px 0;
    img{ width: 47px}
}

//New Events
label[for="event_photo"] {
    top: -7px;
}

.right-link{
    float: right;
    margin: 1px 15px 0 0;
    font-size: 14px
}

//Admin nav
.admin-nav nav{
  margin-bottom: -11px;
  a { color: #999; font-weight: 400 }
  a.active.nav-item{
    color: #000;
  }
}

