<%= render partial: '/private/deal_rooms/about' -%>
<div class="row">
     <%= render partial: '/private/deal_rooms/guests/uploads' -%>

      <%= render partial: '/private/deal_room_authorizations/index' -%>

   
     <%= render partial: '/private/deal_rooms/guests/invitations' -%>
     		
</div>
