<div class="row">
  <div class="col m6 s12">
     <h3><%= @deal_room.name -%></h3>
  </div>
</div>

<div class="row">
  <div class="col m8 s12">
     <%= render partial: '/private/deal_rooms/guests/uploads' -%>
   </div>

  <div class="col m4 s12">
     <%= render partial: '/private/deal_room_authorizations/index' -%>
     <%= render partial: '/private/deal_rooms/guests/invitations' -%>
  </div>
</div>
