<div class="row">
  <div class="col s12">
    <%= render partial: "/my/dashboard/my_campaigns" -%>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= render partial: "/my/dashboard/my_capitals" -%>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= render partial: "/my/dashboard/my_companies" -%>
  </div>
</div>

