<%= render partial: '/private/deal_room_invitations/form' -%>
<% if @deal_room.owned_by?(user: current_user) %>
<% if  @deal_room.deal_room_invitations.any? %>
 <ul>
 <% @deal_room.deal_room_invitations.each do |invitation| %>
     <% next unless invitation.persisted? %>
     <li><%= invitation.email -%>
       <%= link_to(private_deal_room_deal_room_invitation_path( @deal_room, invitation), method: :delete, data: {confirm: "Are you sure that you want to delete this invitation?" } ) do %>
         <i class="material-icons tiny">delete</i>
        <% end %>
      @ <%= format_date_and_time(invitation.created_at) -%>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p>There have been no invitations created for this deal room.</p>
  <% end%>
<% end%>
