<div class="row">
  <div class="margin-top-bottom">
   <div class="col s12 l4 offset-l4">
    <div class="card">
      <div class="card-content">
	        	
       <h3>Login </h3><br>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.button :submit, "Log in" %>
        <br>
      <% end %>

        </div>
      </div>
    </div>
  </div>
</div>